.container{
    background-color: rgb(45, 43, 43);
    color: aliceblue;
    display: grid;
    grid-template-columns: auto auto auto;
    padding-top: 20px;
    min-height: 100%;
    min-width: 100%;
}

.subcontainer{
    padding-top: 70px;
    padding-right: 30px;
}

.categories{
    margin-top: 50px;
}

label{
    color: violet;
}